* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body {
	background: #E8F5E9;
}
.banner {
	position: relative;
}
.banner img {
	display:block;
    opacity: 40%;
}
.banner-text {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}
.banner-text h1 {
	font-size: 80px;
	margin-top: 170px;
	text-align: center;
	font-weight: 900;
	color: #fff;
}
.banner-text h1 strong{
	color: #e2d703;
}  
.banner-text p {
	margin-top: 50px;
}
.our_team h1 {
	font-size: 50px;
	margin-top: 20px;
	text-align: center;
	font-weight: 900;
	color: #fff;
}